<div class="section">
  <div class="columns is-centered">
    <div class="column is-6 pa5">
      <h1 class="title">Subscribe</h1>
      <p>Chosen plan: <strong><%= "EatViet Subscription" %>
      <hr/>
      <button id="checkout-button" class="btn btn-primary">Buy Subscription</button>
    </div>
  </div>
</div>
